@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar but still allow scrolling */
.scroll-hidden {
    overflow: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scroll-hidden::-webkit-scrollbar {
    display: none;
}

