@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar but still allow scrolling */
.scroll-hidden {
    overflow: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scroll-hidden::-webkit-scrollbar {
    display: none;
}

/* Custom Scrollbar Styles */
.custom-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
.custom-scrollbar::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

/* Handle */
.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #888;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #aea9a9;
}

/* Firefox Custom Scrollbar */
.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #888;
}

/* Global scrollbar styling */
html {
    scrollbar-width: thin;
    /* For Firefox */
    scrollbar-color: #888 #f1f1f1;
    /* For Firefox */
}

::-webkit-scrollbar {
    width: 12px;
    /* Width of the scrollbar */
    height: 12px;
    /* Height of the scrollbar for horizontal scroll */
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Background of the scrollbar track */
    border-radius: 10px;
    /* Rounded corners */
}

::-webkit-scrollbar-thumb {
    background: #000;
    /* Color of the scrollbar handle */
    border-radius: 10px;
    /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* Color when hovered */
}


c {
    color: #ffffff1c;
}