@tailwind base;
@tailwind components;
@tailwind utilities;

/* For webkit-based browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
  height: 12px; /* Height of the scrollbar for horizontal scrollbars */
}

::-webkit-scrollbar-track {
  background: #262525; /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: #2c2b2b;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6f6969; /* Hover effect */
}

/* Optional: Customize the scrollbar corner for resizable elements */
::-webkit-scrollbar-corner {
  background: transparent; /* Corner styling */
}

/* For Firefox */
